<li th:fragment="navheader" class="nav-header">
    <div class="dropdown profile-element">
                    <span>
                        <i class="fa fa-user img-responsive" style="font-size: 70px; color: #FFFFFF;"></i>
                    </span>
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold"><div sec:authentication="name"></div></strong>
                             </span> <span class="text-muted text-xs block">Administrator <b class="caret"></b></span> </span> </a>
        <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a href="profile.html">Profil</a></li>
            <li class="divider"></li>
            <li><a href="/">Abmelden</a></li>
        </ul>
    </div>
    <div class="logo-element">
        St<i class="fa fa-xing"></i>
    </div>
</li>